<br/>
<br/>
<br/>
<br/>


<div class="card"  *ngIf="employee">
    <h5 class="card-header">Employee faculty Name : {{employee.facultyName}}</h5>
    <div class="card-body">
      <h5 class="card-title">Alloted Batches Id :  {{employee.allotedBatchId}}</h5>
      <h5 class="card-title">Employee Mobile Number : {{employee.number}}</h5>
      <h5 class="card-title">Employee Date of Joining : {{employee.dateOfJoin}}</h5>
      <p class="card-text"> additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
