<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/"></a>

    <!-- <img src="./highqlabs2.jpeg" style="width:100px;height:60px" alt=""> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/batches" routerLinkActive="active">Upcoming Batches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ourservices" routerLinkActive="active">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/interviews" routerLinkActive="active">InterviewSchedules</a>
        </li>
        
       

        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
          <a class="nav-link" routerLink="/login" routerLinkActive="active">AdminLogin</a>
          <a class="nav-link" routerLink="/facultylogin" routerLinkActive="active">Faculty Login</a>
          <a class="nav-link" routerLink="/studentlogin" routerLinkActive="active">Student Login</a> 

          </div>
        </li>
        
      </ul>
      
    </div>
  </nav>
