<!-- ======= Hero Section ======= -->
<app-navbar></app-navbar>
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to HQL EduTech</h1>
      <hr class="w-25" />
  
      <h4 style="color: aliceblue">
        Genius without education is like silver in the mine
      </h4>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section>
  <!-- End Hero Section -->
  
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About Us</h2>
            <br />
            <p style="text-align: justify">
              HQL EduTech (a HighQ-Labs company) is a FINISHING SCHOOL with more
              than 50+ combined years of expertise in training graduates across
              technologies. We are preferred choice to students across various
              states in India and also a partner of choice for Fortune 500
              companies for their trained hiring needs. We have trained students
              across the globe in countries like USA, Europe, China and Middle
              East to name a few countries.
            </p>
  
            <!-- <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
              </div> -->
          </div>
  
          <div
            class="col-lg-6 background order-lg-2 order-1"
            data-aos="fade-left"
            data-aos-delay="100"
          ></div>
        </div>
      </div>
    </section>
    <!-- End About Section -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">we are happy to see you ....!</p>
        </div>
      </div>
  
      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0255508086866!2d77.63959901384362!3d12.970216818420294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a7e4a62d85%3A0xbe9acc5a90f8c80e!2sHighQ%20Labs%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1636726837431!5m2!1sen!2sin"
        width="100%"
        height="380"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container"></div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Highq-Labs</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a href="https://hqledutech.com/"> &copy;DevTeam <i>HQL</i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
  