<br />
<br />
<br />
<br />
<br />




<div class="container">
  <h1>List of Students </h1><hr/>
  <a routerLink="/admin/addStudent">
    <button class="btn btn-warning">Add New Student</button>
  </a>
  <br/>
  <br/>
  
  <div class="row mx-auto">



    <!-- <div *ngFor="let s of students" class="col-10 col-lg-3 col-md-4 m-3 mt-4">
      <div class="card" style="width: 18rem;">


        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Name : {{s.firstName}}&nbsp;{{s.lastName}}</h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Gender : {{s.gender}}</li>
          <li class="list-group-item">Qualification : {{s.qualification}}</li>
          <li class="list-group-item">Address{{s.address}}</li>
          <li class="list-group-item">Email : {{s.email}}</li>
          <li class="list-group-item">Role : {{s.role}}</li>
          <li class="list-group-item">Role : {{s.number}}</li>          
        </ul>

        <div class="card-body">
          <a [routerLink]="['/admin/student',f.id]" class="card-link btn btn-primary">View</a>
          <a [routerLink]="['/admin/studentEdit',f.id]" class="card-link btn btn-secondary">Edit</a>
          <a [routerLink]="['/admin/studentDelete',f.id]" class="card-link btn btn-danger">Delete</a>

        </div>

        </div>
      </div> -->



      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            
            <th scope="col">Gender</th>
            <th scope="col">Qualification</th>
            
            <th scope="col">Email</th>
            
            <th scope="col">number</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of students">
            <th scope="row">{{s.firstName}}</th>
            
            <td>{{s.gender}}</td>
            <td>{{s.qualification}}</td>
           
            <td>{{s.email}}</td>
            
            <td>{{s.number}}</td>
            
            <td>
              <a [routerLink]="['/admin/student',s.id]" class="card-link btn btn-primary">View</a>
            </td>
            <td>
              <a [routerLink]="['/admin/studentEdit',s.id]" class="card-link btn btn-secondary">Edit</a>
            </td>
            <td>
              <a [routerLink]="['/admin/studentDelete',s.id]" class="card-link btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      






  </div>
</div>




