
<br/>
<br/>
<br/>
<br/>

<div class="card" *ngIf="student">
    <h5 class="card-header">student faculty Name : {{student.firstName}}</h5>
    <div class="card-body">
        <h5 class="card-title">Alloted Batches Id :  {{student.lastName}}</h5>
        <h5 class="card-title">student Mobile Number : {{student.gender}}</h5>
        <h5 class="card-title">student Date of Joining : {{student.qualification}}</h5>
        <h5 class="card-title">student Date of Joining : {{student.address}}</h5>
        <h5 class="card-title">student Date of Joining : {{student.email}}</h5>
        <h5 class="card-title">student Date of Joining : {{student.role}}</h5>
        <h5 class="card-title">student Date of Joining : {{student.number}}</h5>
        
      </div>
     
      {{student | json}}
    
  </div>
